# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
tmp
gin-bin.exe*
repository/**/
# local env files
.env
.env.local
.env.*.local

goploy
goploy.exe*
goploy.mac
goploy.pid