// cover some element-ui styles
.el-progress {
  &__text {
    min-width: 0px !important;
  }
}

.el-message-box {
	width: 98%!important;
	max-width: 420px;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

.el-table {
  th {
    display: table-cell!important;
  }
  &__fixed-right{
    height: 100% !important;
  }
}